@model IEnumerable<SAT.DATA.EF.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<h2>Students</h2>



@* table for students*@
<div class="col-lg-6 ui-sortable">
    <div class="box ui-sortable-handle">
        <header>

            <div class="toolbar">
                <div class="btn-group">
                    <a href="#defaultTable" data-toggle="collapse" class="btn btn-sm btn-default minimize-box">
                        <i class="fa fa-angle-up"></i>
                    </a>
                    <a class="btn btn-danger btn-sm close-box">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </header>
        <div id="defaultTable" class="body collapse in">
            <table class="table responsive-table">
                <thead style="color:black">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Major</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tbody style="color:black">
                        <tr>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.StudentId">
                                @Html.DisplayFor(modelItem => item.FirstName)</a> 
                            </td>
                            <td>
                                 <a asp-action="Details" asp-route-id="@item.StudentId">
                                @Html.DisplayFor(modelItem => item.LastName)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Major)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.State)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ZipCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ss.Ssname)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> 
                                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> 
                                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                            </td>
                        </tr>

                    </tbody>
                }
            </table>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-metis-6 btn-grad" data-original-title="" title="">Create Student</a>
</p>
