@model SAT.DATA.EF.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div class="col-lg-6 ui-sortable" style="color:black">
    <div class="box ui-sortable-handle">
        <header>
            <div class="toolbar">
                <div class="btn-group">
                    <a href="#defaultTable" data-toggle="collapse" class="btn btn-sm btn-default minimize-box">
                        <i class="fa fa-angle-up"></i>
                    </a>
                    <a class="btn btn-danger btn-sm close-box">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

          
        </header>


        <div id="defaultTable" class="body collapse in">
            <table class="table responsive-table">
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>CourseDescription</th>
                        <th>CreditHours</th>
                        <th>Curriculum</th>
                        <th>Notes</th>
                        <th>IsActive</th>


                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.CourseName)</td>
                        <td>@Html.DisplayFor(model => model.CourseDescription)</td>
                        <td>@Html.DisplayFor(model => model.CreditHours)</td>
                        <td>@Html.DisplayFor(model => model.Curriculum)</td>
                        <td>@Html.DisplayFor(model => model.Notes)</td>
                        <td>@Html.DisplayFor(model => model.IsActive)</td>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
