@model IEnumerable<SAT.DATA.EF.Models.Enrollment>

@{
    ViewData["Title"] = "Enrollments";
}

<h2>Enrollment</h2>


<div class="col-lg-6 ui-sortable" style="color:black">
    <div class="box ui-sortable-handle">
        <header>
            <div class="toolbar">
                <div class="btn-group">
                    <a href="#defaultTable" data-toggle="collapse" class="btn btn-sm btn-default minimize-box">
                        <i class="fa fa-angle-up"></i>
                    </a>
                    <a class="btn btn-danger btn-sm close-box">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </header>

        <div id="defaultTable" class="body collapse in">
            <table class="table responsive-table">
                <thead>
                    <tr>
                        <th>Enrollment Date</th>
                        <th>Scheduled Class</th>
                        <th>Student</th>
                        <th></th>
                    </tr>
                </thead>
                                @foreach (var item in Model)
                {
                <tbody>
                    <td>
                            @Html.DisplayFor(modelItem => item.EnrollmentDate)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.ScheduledClass.ScheduledClassId)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Student.FirstName)
                            @Html.DisplayFor(modelItem => item.Student.LastName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EnrollmentId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.EnrollmentId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.EnrollmentId">Delete</a>
                    </td>
                    
                </tbody>
                }
                
            </table>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-metis-6 btn-grad" data-original-title="" title="">Create Enrollment</a>
</p>
